.home {
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  max-width: 60%;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 350px; /* Adjust as needed */
  height: auto;
  border-radius: 30px;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .text {
    max-width: 100%;
  }

  .image {
    margin-top: 10px;
  }

  .image img {
    width: 200px;
  }
}
