.logo {
    font-family: var(--font-family-secondary);
    font-size: 3rem;
    font-style: italic;
    line-height: 0.5;
    color: var(--active-stone);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }

  .logo__firstname, .logo__middlename {
    text-align: left;
    width: 135px;
  }