.kapcsolat {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-column {
  flex: 0 0 60%;
  padding: 20px;
}

.right-column {
  flex: 1 1 40%;
  padding: 20px 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
  background-color: var(--purple-color);
  padding: 40px;
  border-radius: 10px;
}

.social-media div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-media__line a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group-row {
  display: flex;
  flex-direction: column;
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 15px 15px 15px 25px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
  background-color: var(--navbar-background-color);
  color: var(--text-color);
}

textarea {
  width: 100%;
  padding: 15px 15px 15px 25px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  height: 150px;
  resize: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: var(--navbar-background-color);
  color: var(--text-color)
}


input:focus,
textarea:focus {
  border: 1px solid #ccc; /* Ensure no border change on focus */
}


.button-group {
  display: flex;
  gap: 10px;
  width: 150px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.kapcsolat .send-button {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease; /* Add animation */
  margin-bottom: 50px;
  padding: 15px 25px;
  height: 36px;
  box-shadow: none;
}

.send-button:hover {
  background-color: var(--primary-color-hover);
}

.checkbox__container {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.checkbox__container input[type="checkbox"] {
  width: 20px; /* Adjust checkbox size */
  height: 20px;
  margin-right: 10px;
}

.checkbox__container label {
  font-size: 1.2rem; /* Adjust text size */
}

.checkbox__container label a {
text-decoration: underline;
}

/* Responsive styles for mobile view */
@media (max-width: 1200px) {
  .kapcsolat, .form-group-row {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    flex: 1 1 100%;
  }

  .checkbox__container input[type="checkbox"] {
    margin-right: 5px;
  }

  .checkbox__container label {
    font-size: 0.8rem; /* Adjust text size */
  }
}