.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
 }
  
  .navbar {
    width: 320px;
    padding: 15px 5px 15px 5px;
    background-color: var(--navbar-background-color);
    border-radius: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: width 0.5s ease;
  }
  
  .nav-link {
    color: var(--navbar-text-color);
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.5s ease;
  }

  .nav-link-avatar {
    color: var(--navbar-text-color);
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 50px;
    transition: background-color 0.5s ease;
  }
  
  .nav-link .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
  }
  
  .nav-link.active {
    background-color: var(--navbar-active-background-color);
  }

  .nav-link-avatar span {
    background-color: var(--navbar-active-background-color);
    padding: 5px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: capitalize;
  }
  
  .nav-link.active .icon-container svg {
    fill: var(--primary-color); /* Change icon color to blue when active */
  }
  
  .nav-link span, .nav-link-avatar span {
    /*margin: 5px;*/
    transition: opacity 0.5s ease, width 0.5s ease;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
  }
  
  .nav-link span.hide, .nav-link-avatar span.hide {
    opacity: 0;
    width: 0;
  }
  
  .nav-link span.show{
    opacity: 1;
    width: 85px;
  }

  .nav-link-avatar span.show {
    opacity: 1;
    width: 65px;
  }
  
  .nav-link:hover {
    background-color: var(--navbar-hover-background-color);
  }

  .img {
    position: relative;
    display: inline-block;
  }

  .img img {
    border: 5px solid var(--navbar-background-color);
    width: 62.5px;
    height: 62.5px;
    border-radius: 50%;
    display: block;
  }

  .verified-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 2px;
    border-radius: 50%;
    color: var(--primary-color);
    width: 16px !important;
    height: 16px !important;
    background-color: var(--simple-white);
  }

  .fake_message__name {
    font-size: 11px;
    font-weight: bold;
    color: var(--navbar-text-color);
    margin-left: 10px;
    text-transform: capitalize;
  }

  @media (max-width: 600px) {
    .navbar__container {
        font-size: 13px;
      }

      .navbar {
        width: 320px;
        margin: 0 auto;
        padding: 10px 5px 10px 5px;
        background-color: var(--navbar-background-color);
        border-radius: 50px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: width 0.5s ease;
      }

      .nav-link span.show {
        opacity: 1;
        width: 80px;
      }
      
  }