.projects {
    padding: 20px;    
}
.Projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px; /* Adjusted spacing between items */
    justify-content: center;
    margin-top: 32px;
  }
  
  @media (min-width: 900px) {
    .Projects-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for desktop */
    }
  }
  
  @media (max-width: 900px) {
    .Projects-container {
      grid-template-columns: 1fr; /* 1 column for mobile */
    }
  }
  