.rolam {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  h1 {
    font-family: 'Noe Display', Georgia, Times, serif;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }