.rolam {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .rolam h1 {
    font-family: 'Noe Display', Georgia, Times, serif;
    font-size: 3rem;
    margin-bottom: 40px;
  }

  .rolam img {
    width: 400px;
  }


  .rolam p {
    font-size: 1.2em;
    color: var(--text-color-secondary);
    margin-bottom: 15px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--navbar-hover-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
  }
  
  .rolam .icon {
    font-size: 3rem;
    color: var(--primary-color);
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  