.footer {
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid var(--navbar-hover-background-color);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .footer__content {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
  }