.footer {
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--navbar-hover-background-color);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .footer__content {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
  }

.logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.react__logo, .php__logo, .sql__logo, .wordpress__logo, .mui__logo {
    width: 50px;
    height: auto;
    filter: grayscale(100%);
    margin: 20px;
}
  
.react__logo:hover, .php__logo:hover, .sql__logo:hover, .wordpress__logo:hover, .mui__logo:hover {
    filter: none;
}

a {
  color: var(--navbar-text-color);
  font-size: 1.2rem;
  text-decoration: none;
}

 

 @media (max-width: 600px) {
  .react__logo, .php__logo, .sql__logo, .wordpress__logo, .mui__logo {
    width: 30px;
    height: auto;
    filter: grayscale(100%);
    margin: 20px;
  }
    
}