/* Center the content vertically and horizontally */
.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #231F20; /* Background color */
  }
  
  /* Style for the name */
  .name {
    font-size: 5rem;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 200;
  }
  
  /* Bold style for "Ádám István" */
  .bold {
    font-weight: 800;
  }
  
  /* Style for the emoji */
  .emoji {
    font-size: 8rem; /* Set emoji size */
    margin-top: 30px; /* Add 30px margin top */
  }