.container {
    align-items: center;
    height: 90vh;
    background-color: #231F20;
    width: 550px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-size: 8vw;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 200;
  }
  
  .bold {
    font-weight: 800;
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #231F20;
    padding: 10px;
    min-height: 100vh;
  }

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
