@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Noe Display', Georgia, Times, serif;
  --background-color: #ffffff;
  --text-color: #1c1e21;
  --text-color-secondary: #333333;
  --frosted-pearl: #f5f6f7;
  --navy-void: #1c1e21;
  --hovering-cloud: #e4e6eb;
  --active-stone: #d8dadf;
  --primary-color: #1877f2;
  --primary-color-hover: #146adc;
  --secondary-color: #f02849;
  --lime-zest: #13cf13;
  --violet-velvet: #7744d0;
  --fixed-white: #ffffff;
  --invert-color: invert(90%);

}

[data-theme="dark"] {
  --background-color: #18191a;
  --text-color: #e4e6eb;
  --text-color-secondary: #444;
  --frosted-pearl: #242526;
  --navy-void: #e4e6eb;
  --hovering-cloud: #3a3b3c;
  --active-stone: #4a4b4d;
  --primary-color: #1877f2;
  --primary-color-hover: #146adc;
  --secondary-color: #f02849;
  --lime-zest: #13cf13;
  --violet-velvet: #7744d0;
  --invert-color: 'none';
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
}

h1 {
  font-family: var(--font-family-secondary);
  font-size: 3rem;
  display: inline-block;
  line-height: 1.2;
}


h2 {
  font-size: 2rem;
  padding: 10px 0 10px 0 ;
  color: var(--secondary-color);
  display: inline-block;
  line-height: 1.2; /* Adjust for better alignment */
}

h3 span {
  font-size: 1.5rem;
  padding: 10px 20px 10px 20px ;
  color: var(--text-color);
  background-color: var(--violet-velvet);
  border-radius: 10px;
}

p {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1.2rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  }