@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noe+Display:wght@400;500;600;700&display=swap');

:root {
  --background-color: #ffffff;
  --text-color: #1c1e21;
  --navbar-background-color: #f5f6f7;
  --navbar-text-color: #1c1e21;
  --navbar-hover-background-color: #e4e6eb;
  --navbar-active-background-color: #d8dadf;
  --primary-color: #1877f2;
  --secondary-color: #13cf13;
  --tertiary-color: #f02849;
  --simple-white: #ffffff;
}

[data-theme="dark"] {
  --background-color: #18191a;
  --text-color: #e4e6eb;
  --navbar-background-color: #242526;
  --navbar-text-color: #e4e6eb;
  --navbar-hover-background-color: #3a3b3c;
  --navbar-active-background-color: #4a4b4d;
  --primary-color: #1877f2;
  --secondary-color: #13cf13;
  --tertiary-color: #f02849;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
  margin: 0;
}

h1 {
  font-family: 'Noe Display', Georgia, Times, serif;
  font-size: 4rem;
  margin: 15px 0px 0px 0px;
}

h2 {
    font-size: 2rem;
    color: var(--tertiary-color);
    margin: 15px 0px 0px 0px;
}

@media (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1.2rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  }