  .AboutMe {
    padding: 20px;
  }

  .AboutMe img {
    width: 400px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--hovering-cloud);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
  }
  
  .AboutMe .icon {
    font-size: 3rem;
    color: var(--primary-color);
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  