.kartya__dev_container {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  box-shadow: none !important;
  border: none !important;
  margin: 15px 0px !important;
  border-radius: 10px !important;
  max-width: 1200px;
  text-align: justify;

}

.kartya__dev_main {
  background-color: var(--frosted-pearl);
  padding: 15px !important;
}

.kartya__dev_title {
  margin: 0px;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.kartya__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kartya__img_desktop {
  width: 100%; /* Full width */
  max-width: 1200px; /* Limit max size */
}

.kartya__img_mobile {
  width: 40%; /* Mobile image smaller than desktop */
  max-width: 400px; /* Adjust as needed */
}

.kartya__img_full {
  width: 100%; /* Ensures full width */
  height: auto; /* Keeps aspect ratio */
  display: block;
  object-fit: contain; /* No cropping */
  border-radius: 5px;
}

.kartya__dev_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: var(--primary-color) !important;
}

.kartya__dev_icon {
  font-size: 1rem;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.kartya__dev_link:hover .kartya__dev_icon {
  opacity: 1;
  color: var(--primary-color) !important;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .kartya__img_mobile {
    width: 70%; /* Increase size for better visibility */
    max-width: 350px;
  }
}
